.mainDiv{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerDiv{
  width: 50%;
}
.signUpContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
